.body-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1160px;
  width:95%;
}

.final-container {
  background-color: #212a2f;
  margin-left: auto;
  margin-right: auto;
  max-width: 1160px;
  width:95%;
}

.main-container {
  display: flex;
}

.main {
  display: inline-block;
  width: 67%;
  padding-right: 40px;
}

.sidebar {
  display: inline-block;
  width: 33%;
}

.footer-container {
  padding-top: 70px;
  display: flex;
}

.footer-main {
  display: inline-block;
  width: 100%;
}